<div class="side_bar__account">
    <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="chat_create"><a href=" ">チャットを作成する</a></div>
</div>

<div class="side_bar__rooms">
  <div class="room">
    <div class="room_name">
    <a href="#" >testroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room_name">
    <a href="#" >testroom2</a>
    </div>
  </div>
  <div class="room">
    <div class="room_name">
     <a href="#">testroom3</a>
    </div>
  </div>
</div>